* {
    background:     #002B36;
    background-alt: #657B83;
    foreground:     #839496;
    selected:       #268BD2;
    border:         #6C71C4;
    active:         #859900;
    urgent:         #DC322F;
}
