* {
    background:     #06060B;
    background-alt: #5B5B60;
    foreground:     #ADADB3;
    selected:       #AEB2CF;
    border:         #AEB2CF;
    active:         #747B93;
    urgent:         #4A4A56;
}
