[Unit]
Description=Config-driven hot corners with arbitrary commands
After=graphical-session.target
PartOf=graphical-session.target

[Service]
ExecStart=%h/.local/bin/hot-corner -f
Restart=on-failure
RestartSec=2
Type=simple
Environment=PATH=%h/.local/bin:/usr/local/bin:/usr/bin:/bin
Environment=GDK_BACKEND=wayland
Environment=WAYLAND_DISPLAY=wayland-1

[Install]
WantedBy=default.target
